

.category {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    position: fixed;
    top: 55px;
    left: 72px;
    width: 100%;
    z-index: 50;
    padding-top: 8px;
    padding-left: 18px;
}

.category-tab,
.category-tab-selected {
    background-color: rgb(242, 242, 242);
    margin: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
}

.category-tab:hover,
.category-tab-selected:hover {
    cursor: pointer;
}

.category-tab-selected {
    background-color: black;
    color: white;
}